.card {
  width: calc(60% - 10px);
  height: auto;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 2px 2px 5px #ccc;
  margin: auto;
  background-color: #fff;
  transition: box-shadow 0.5s linear;
  &:hover {
    box-shadow: 2px 2px 10px 5px #ccc;
    transition: box-shadow 0.2s linear;
  }
  .cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(90% - 10px);
  }
}
