<div matRipple appCardTheme class="card rounded-5 p-3 mx-auto myCard" style="max-width: 840px;">
    <div class="card-body">
        <ng-container *ngIf="quoteData; else noData">
            <div class="row">
                <div class="col-sm-12 col-md-11">

                    <h3>{{ quoteData.content }}</h3>
                    <p>
                        - <em>{{ quoteData.author }}</em>
                    </p>
                </div>
                <div class="col-sm-12 col-md-1">
                    <button mat-icon-button class="text-light" (click)="sharedService.copyToClipboard(quoteData)"
                        matTooltip="copy to clipboard">
                        <mat-icon>
                            content_copy
                        </mat-icon>
                    </button>
                </div>
            </div>

            <!-- <h3>{{ quoteData.quote }}</h3>
            <p>
                - <em>{{ quoteData.character }}</em>
            </p>
            <p>{{ quoteData.anime }}</p> -->
        </ng-container>
        <ng-template #noData>
            <h3>I have reached my limits</h3>
            <p>- <em> System servers </em></p>
            <!-- <p>Internet Of Things</p> -->
        </ng-template>
    </div>
</div>