<div class="container-fluid">
    <div class="container ps-md-4 mt-3 mt-md-5">
        <app-quote-card [quoteData]="quoteData()!"></app-quote-card>
        <div class="mt-5 text-center">
            <button class="rounded-5 px-4" mat-stroked-button (click)="getQuoteSlateRandomQuote()">Refresh</button>
        </div>
    </div>
    <!-- <footer class="fixed-bottom text-white">
        <div class="row">
            <div class="col-12">
                <div class="text-center text-dark">
                    <p>Made with 🩷 By <a class="link-dark" href="https://github.com/Sandeepsaini309" target="_blank"
                            rel="noopener noreferrer">
                            Sandeep Saini</a></p>
                </div>
            </div>
        </div>
    </footer> -->
</div>