<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner>

<mat-drawer-container autosize>
  <mat-drawer #drawer class="p-5" [mode]="screenWidth > 840 ? 'side' : 'over'">
    <p>menu</p>
  </mat-drawer>

  <div class="cover">
    <div class="container-fluid cover">
      <header class="text-center p-4">
        <div class="row">
          <div class="col-3">
            <button class="rounded-5 p-5" mat-stroked-button (click)="drawer.toggle()">Menu</button>
          </div>
          <div class="col-6">
            <h1 class="display-1" routerLink="">QuoteNest</h1>
            <p>Where words find their home</p>
          </div>
          <div class="col-3"></div>
        </div>
      </header>
      <main class="container ps-md-4 mt-3 mt-md-5">
        <app-quote-card [quoteData]="quoteObj"></app-quote-card>
        <div class="mt-5 text-center">
          <button class="rounded-5 px-4" mat-stroked-button (click)="getRandomQuote()">Refresh</button>
        </div>
      </main>
      <footer class="fixed-bottom text-white">
        <div class="row">
          <div class="col-12">
            <div class="text-center text-dark">
              <p>Made with 🩷 By <a class="link-dark" href="https://github.com/Sandeepsaini309" target="_blank"
                  rel="noopener noreferrer">
                  Sandeep Saini</a></p>
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>

</mat-drawer-container>


<!-- <div class="cover">
  <div class="container-fluid cover">
    <header class="text-center p-4">
      <div class="row">
        <div class="col-3">
          <button class="rounded-5 p-5" mat-stroked-button>Menu</button>
        </div>
        <div class="col-6">
          <h1 class="display-1" routerLink="">QuoteNest</h1>
          <p>Where words find their home</p>
        </div>
        <div class="col-3"></div>
      </div>
    </header>
    <main class="container ps-md-4 mt-3 mt-md-5">
      <app-quote-card [quoteData]="quoteObj"></app-quote-card>
      <div class="mt-5 text-center">
        <button class="rounded-5 px-4" mat-stroked-button (click)="getRandomQuote()">Refresh</button>
        <button class="rounded-5 px-4" mat-stroked-button routerLink="/saved">Saved</button>
      </div>
    </main>
    <footer class="fixed-bottom text-white">
      <div class="row">
        <div class="col-12">
          <div class="text-center text-dark">
            <p>Made with 🩷 By <a class="link-dark" href="https://github.com/Sandeepsaini309" target="_blank"
                rel="noopener noreferrer">
                Sandeep Saini</a></p>
          </div>
        </div>
      </div>

    </footer>
  </div>
</div> -->