<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner>
<div class="cover">
  <div class="container-fluid cover">
    <header class="text-center p-4">
      <h1 class="display-1">Quotes App</h1>
    </header>
    <main class="container ps-md-4 mt-3 mt-md-5">
      <app-quote-card [quoteData]="quoteObj"></app-quote-card>
      <div class="mt-5 text-center">
        <button class="rounded-5 px-4" mat-stroked-button (click)="getRandomQuote()">Refresh</button>
      </div>
    </main>
    <footer class="fixed-bottom text-white">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <p>Made with 🩷 By <a class="link-light" href="https://github.com/Sandeepsaini309" target="_blank"
                rel="noopener noreferrer">
                Sandeep Saini</a></p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>