<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Please wait... </p>
</ngx-spinner>

<div class="cover">
  <app-header [drawer]="drawer"></app-header>
  <mat-drawer-container autosize>
    <!-- <mat-drawer #drawer class="p-5" [mode]="screenWidth > 840 ? 'side' : 'over'"> -->
    <mat-drawer #drawer [mode]="'over'">
      <app-menu></app-menu>
    </mat-drawer>

    <mat-drawer-content>
      <!-- <app-header [drawer]="drawer"></app-header> -->
      <router-outlet></router-outlet>
    </mat-drawer-content>

  </mat-drawer-container>

</div>