* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  height: 100%;
}
.cover {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*:focus {
  outline: none !important;
  border: 0 !important;
}
button {
  mat-icon {
    font-size: 32px;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
